{% extends 'base.html' %}

{% block content %}

<div class="container title">
    CRUD Operations
</div>

<div class="container table-title">
    <div class="table-name">
        Manage <b>Employees</b>
    </div>
    <div class="options">
        <button class="btn btn-light">
            <a href="/create"><b style="text-decoration: none; color: black;">Add New Employee</b></a>
        </button>
    </div>
</div>

<table class="container">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Actions</th>
    </tr>
    {% for i in emp %}
    <tr>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.address}}</td>
        <td>{{i.phone}}</td>
        <td>
            <button class="btn btn-warning sm">
                <a href="/edit/{{i.name}}">Edit</a>
            </button>
            <button class="btn btn-danger sm">
                Delete
            </button>
        </td>
    </tr>
    {% endfor %}


</table>

{% endblock %}